.header{
    display: flex;
    padding: 10px;
    background: #689CD2;
    color: white;
    justify-content: space-between;

}
.header_section{
    display: flex;
    align-items: center;

}
.header_menu{
    padding: 10px 15px;
    font-size: 20px;
    margin-left: 5px;

}
.header_menu:hover{
    background-color: darkslateblue;
    border-radius: 10px;
}
.headerlogo{
    font-weight: bold;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: white;
    text-align: center;
}

.back{
    background: url('../images/back.png') no-repeat center center fixed;
    -webkit-background-size: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form-title{
    color: #30507D;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 15px;
}
input{
    height: 45px;
    width: 100%;
    font-size: 14px;
    line-height: 16px;
    border: 2px solid #E9F2FF;
    border-radius: 5px;
    padding-left: 25px;
}
.register_form{
    height: 425px;
    background: #ffffff;
    box-shadow: 0 6px 45px rgba(217, 229, 255, 255);
    border-radius: 20px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 30px;
}
.form-field{
    margin-bottom: 13px;
}
.button{
    font-weight: bold;
    font-size: 14px;
    display: block;
    height: 45px;
    width: 355px;
    background: #247FFF;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 45px;
}
.button:hover{
    background-color: #0D6CF2;
}
a.button{
    text-decoration: none;
}
.button_login{
    color: #C6CFDC;
    background: #F2F6FF;
}
.button_login:hover{
    background: #C6CFDC;
    color: #fff;
}
.divider{
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #405D87;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
main{
    background: #F1F5FE;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}