.table, td, tr {
    width: 30%;
    border: 1px solid #000;
    margin: 0 auto;
    height: 10%;
    padding: 0;
    border-spacing: 0;


}

.p1 {
    margin-bottom: -10px;
    font-size: 15px;
    line-height: 5%;
    font-size: 18px;

}

.p2{
    text-align: right;
    font-size: 15px;
    line-height: 5%;
}

.style{
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 25px;
    line-height: 9px;
}
.cell1{
    background-color: #CD5C5C;
}
.cell2{
    background-color: #FFD700;
}
.p3{
    text-align: left;
    font-size: 20px;
    line-height: 5%;
}
.blue{
    margin-bottom: 5px;
    font-size: 25px;
    line-height: 9px;
    background-color: #00BFFF;
}
.style1{
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 25px;
    line-height: 9px;
}